/* .square {
    height: 200px;
    background-color: #ccc;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    display: inline-block;
    position: absolute;
    top: 100%;
    right: 0;
    overflow: hidden;
    border-radius: 1rem;
}

.square img {
    max-width: 100%;
    max-height: 100%;
}

.square p {
    margin: 0;
    padding: 10px;
} */

.imageContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.imageContainer img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    z-index: 1;
}

.square p {
    margin: 0;
    padding: 0px;
    z-index: 2;
    position: relative;
    bottom: 10%;
    left: 0%;
}

.jaro-uniquifier {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#mainContainer {
    margin: 1% 5%;
    padding: 16px;
    background-color: rgba(255,228,196,0.8);
    border-radius: 15px;
}
  
#overlay {
    position: absolute;
    width: 50%;
    height: 50%;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 2;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    border-radius: 1rem;
    border-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) 1rem solid;
}

#overlay textarea {
    position: relative;
    width: 75%;
    height: 50%;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
}

#overlay label {
    color: white;
}

#pageContainer {
    position: absolute;
    width: 50%;
    height: 50%;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 2;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: rgba(0, 0, 0);
    border-radius: 1rem;
    border-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) 1rem solid;
}